body
{
	margin:0px;
	padding:0px;
	background-image: url(image/6.jpg);
	background-attachment: fixed;
}
img
{
	width:100%;
}
ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}
#container
{
}
#header
{
	text-align: left;
	width:1000px;
	height:10px;
}
#gamebox
{
	width:1000px;
	height:550px;
	background:rgba(255,255,247,0.8);
}
#levelname
{
	height:30px;
	font-size:30px;
	font-family: "Buxton Sketch";
	padding-top:5px;
	padding-left:10px;
	width:500px;
	text-align: left;
	float:left;
}
#ballsleft
{
	height:30px;
	font-size:30px;
	font-family: "Buxton Sketch";
	padding-top:5px;
	width:780px;
	text-align: right;
}
.page
{
	width:800px;
	height:600px;
	background:beige;
	margin-top:0px;
	border:1px solid #c3c3c3;
	box-shadow: 10px 10px 20px #000000;
}
.littleicon
{
	float:right;
	width:30px;
	height:30px;
	margin:10px;
}
#icon
{
	width:400px;
	margin-top:50px;
}
#startPage button
{
	margin-top:30px;
	margin-left:200px;
	margin-right:200px;
	width:150px;
	height:50px;
	font-size:40px;
	font-family:"Buxton Sketch";
	background: #6a3906;
	color:white;
}
.rule
{
	width:800px;
	height:100px;
	font-size:16px;
	font-family:"华文细黑";
	text-align:left;
	margin-top:40px;
	margin-bottom:10px;
}
.rule p
{
	margin:4px;
	margin-left:18px;
}
p.element
{
	margin:0px;
	margin-left:32px;
}
canvas
{
	background:white;
	margin-top:0px;
	border:1px solid #c3c3c3;
}
#winPage p
{
	margin-top:50px;
	margin-bottom:0px;
	font-size:103px;
	font-family:"Buxton Sketch";
	color:#783d10;
}
#winPage button
{
	margin-top:66px;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:0px;
	width:150px;
	height:50px;
	font-size:35px;
	font-family:"Buxton Sketch";
	background: #783d10;
	color:white;
}
#losePage p
{
	margin-top:50px;
	margin-bottom:0px;
	font-size:72px;
	font-family:"Buxton Sketch";
	color:#783d10;
}
#losePage button
{
	margin-top:66px;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:0px;
	width:150px;
	height:50px;
	font-size:35px;
	font-family:"Buxton Sketch";
	background: #783d10;
	color:white;
}
#footer
{
	width:1000px;
	background: beige;
	opacity: 1;
	height:20px;
	font-size:12px;
	font-family: "微软雅黑";
}
