@charset "utf-8";
/* CSS Document */

body
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
body,div
{
	margin:0px;
	padding:0px;
	border:0px;
}
a
{
	text-decoration:none;
	text-align:center;
}
.clear
{
	clear:both;
}
.header
{	
	height:122px;
	width:100%;
}

.header-picture
{
	background-image:url(image/header.jpg);
	height:91px;
	padding-left:30px;
	font-weight:bold;
}

.header-picture h1
{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin:0px;
	padding-top:18px;
	vertical-align:bottom;
}

.header-picture p
{
	padding-right:20px;
	text-align:right;
	margin:0;
}
.stick
{
	background-color:#454545;
	height:30px;
	width:100%;
}

div.nevigation
{
	float:left;
	width:70%;
	height:100%;
}
div.searching
{
	float:right;
	width:30%;
	height:100%;
}
ul
{
	list-style:none;
	margin:0;
	padding:0;
	overflow:hidden;
	height:100%;
}
li
{
	float:left;
	height:100%;
}
.nevigation a
{
	
}

.nevigation a
{	
	height:100%;
	display:block;
	color:#ffffff;	
	text-align:center;
	text-decoration:none;
	font-size:20px;
	font-weight:bolder;
	padding-left:18px;
	padding-right:18px;
	border-left:1px black solid;
}
div.nevigation a:hover,div.nevigation a:active
{
	background-color:red;
}
.nevigation a.first
{
	border-left:0px;
}
.nevigation a.first
{
	background-color:red;
}

.search-and-about-me
{
	height:100%;
	width:100%;
}
a.about-me
{
	float:right;
	padding-right:50px;
	height:100%;
	text-align:right;
	font-weight:bold;
	color:#ffffff;
	text-decoration:none;
	font-size:20px;
}

a.about-me:hover,a.about-me:active
{
	color:red;
}

.body
{
	background-color:white;
	height:auto;
	width:1309px;
	padding-top:16px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:16px;
	min-height:600px;
}

.body-left
{
	float:left;
	background-color:#efefef;
	height:auto;
	width:1100px;;
	border:2px #454545 solid;
}
.body-right
{
	background-color:white;
	float:right;
	height:auto;
	width:200px;
}

.new
{
	
	min-height:400px;
	height:auto;
}

.new div
{
	background-color:#efefef;
	min-height:40px;
	height:auto;
	margin-bottom:5px;
	border:2px #efefef outset;
	padding:10px;
	margin:6px;
}

.new span
{
	font-weight:bold;
}
.pages
{
	width:auto;
	margin:6px;
	padding:6px;
	height:40px;
	color:black;
}

.pages div
{
	float:left;
	padding:3px;
	text-align:center;
}
.pages a
{
	display:block;
	text-decoration:none;
	font-size:larger;
}
.pages a:hover,.pages a:active
{
	color:green;
}
.friends a
{
	font-size:medium;
}

.footer
{
	height:auto;
	min-height:50px;
	width:100%;
	padding-top:23px;
	padding-bottom:15px;
	position:relative;
	text-align:center;
}

