body
{
	margin:0px;
	padding:0px;
	background-image: url(image/6.jpg);
	background-attachment: fixed;
}
img
{
	width:100%;
}
ul
{
	list-style:none;
	margin:0px;
	padding:0px;
}
#container
{
}
#header
{
	text-align: left;
	width:1000px;
	height:10px;
}
#gamebox
{
	width:1000px;
	height:550px;
	background:rgba(255,255,247,0.8);
}
#info
{
	width:80px;
	height:600px;
	float:left;
	background:rgba(250,250,210,0.6);
	border:1px solid #c3c3c3;
}
#levelname
{
	height:50px;
	margin-top:100px;
	font-size:30px;
	font-family: "Buxton Sketch";
	padding-top:30px;
	padding-left:0px;
	width:80px;
}
#ballsleft
{
	margin-top:0px;
	margin-bottom:20px;
	height:60px;
	font-size:30px;
	font-family: "Buxton Sketch";
	padding-top:0px;
	width:80px;
}
.page
{
	width:800px;
	height:600px;
	background:beige;
	margin-top:0px;
	border:1px solid #c3c3c3;
	box-shadow: 10px 10px 20px #000000;
}
.littleicon
{
	float:right;
	width:50px;
	height:50px;
	margin:40px;
}
#icon
{
	width:400px;
	margin-top:50px;
}
.rule
{
	width:700px;
	height:auto;
	font-size:16px;
	font-family:"华文细黑";
	text-align:left;
	margin-top:20px;
	margin-bottom:10px;
}
.rule p
{
	margin:4px;
	margin-left:18px;
}
p.element
{
	margin:0px;
	margin-left:32px;
}
canvas
{
	background:white;
	margin-top:0px;
	border:1px solid #c3c3c3;
}
#winPage p
{
	margin-top:50px;
	margin-bottom:0px;
	font-size:103px;
	font-family:"Buxton Sketch";
	color:#783d10;
}
#losePage p
{
	margin-top:50px;
	margin-bottom:0px;
	font-size:72px;
	font-family:"Buxton Sketch";
	color:#783d10;
}
button
{
	margin-top:66px;
	margin-left:200px;
	margin-right:200px;
	margin-bottom:0px;
	width:150px;
	height:50px;
	font-size:35px;
	font-family:"Buxton Sketch";
	background: #783d10;
	color:white;
}
.littlebutton
{
	margin:0px;
	margin-top:280px;
	width: 70px;
	height:30px;
	font-size:25px;
	font-family:"Buxton Sketch";
	background: #783d10;
	color:white;
}
#footer
{
	width:1000px;
	background: beige;
	opacity: 1;
	height:20px;
	font-size:12px;
	font-family: "微软雅黑";
}
